body {
    background: #F1F1F1;
    font-family: Arial, sans-serif;
    color: #c2c2c2;
}

/*--------------form---------------*/

.search {
    width: 80%;
    margin: 20px auto;
    height: 150px;
}


#search_field {
    height: 80%;
    width: 85%;
    background-color: #F1F1F1;
    border: none;
    font-size: 100px;
    font-weight: 600;
    opacity: 0.65;
    padding-top: 40px;
    color: #ec5a62;
}

#submit_button {
    background: url(huge-search-img-master/img/magnifier.svg);
    border: none;
    width: 90px;
    height: 90px;
    vertical-align: bottom;
}


 
#submit_button:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}


#submit_button:not(:hover) {
  transition: 0.5s;
} 

.shuffle_div {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    padding-right: 50px;
}


/*---------Main-------------*/

section {
    width: 80%;
    margin: 30px auto;
}

nav {
    display: inline-block;
    width: 30%;
    margin-right: 30px;
}

ul {
    list-style: none;
    -webkit-padding-start: 0;
}

li {
    background: rgba(118,117,128,0.05);
    width: 90%;
    border-radius: 5%;
    height: 70px;
    margin: 4px;
    display: inline-block;
}

img {
    display: inline-block;
    vertical-align: middle;
}

nav:first-child img {
    border-radius: 50px;
}

a {
    color: #ACACAC;
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    width: 95%;
}

p {
    display: inline-block;
    font-size: 0.85em;
    padding-left: 12px;
    vertical-align: middle;
    width: 150px;
    font-weight: 700;
    
}

h2 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

li:hover {
    background-color: rgba(118,117,128,0.1);
}
 
li:hover p{
    color:#ec5a62;
}

.error_class {
   font-size: 18px;
    color: #38c4ce;
    border: solid 1px;
    padding: 10px;
    display: block;
    width: 50%;
    margin-top: 10px;
}

.highlight {
 background-color: #fdfc9c;
}

.twitter-typeahead {
    width: 85%;
}

.tt-menu {
    color: #695b5b;
    font-size: 20px;
    background-color: #ffe4e4;
    opacity: 0.7;
    padding: 5px;
    border: 1px solid #695b5b;
    cursor: pointer;
}
